.modal__wrapper {
  width: 100vw;
  height: 100%;
  background-color: rgba(52, 58, 68, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__cross {
  fill: whitesmoke;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 100;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  transform: scale(1.0);
  transition: transform .2s ease-in-out;
}

.modal__cross:hover {
  transform: scale(1.2);
}

.modal {
  background-color: rgb(100, 106, 119);
  border: none;
  border-radius: 1rem;
  height: 80vh;
  box-shadow: 0 1rem 5rem rgba(50, 50, 50, 0.5);
  text-align: center;
  color: whitesmoke;
  padding: 1.6rem;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, max-content);
  justify-content: center;
  align-items: center;
  animation: modalappear 0.15s ease-in-out forwards;
}

.modal > div {
  padding: 1.6rem;
}

@keyframes modalappear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.modal__intro {
  grid-row: 1 / -1;
  align-self: stretch;
}

.modal__intro > img {
  width: 30rem;
  height: 67%;
  background-color: #343a44;
  border-radius: 0.6rem;
  overflow: hidden;
}

.modal__intro > div {
  margin-top: 2rem;
}

.modal__intro > div > h2 {
  color: #61dafb;
  font-weight: 300;
  font-size: 3.6rem;
}

.modal__intro > div > h3 {
  color: whitesmoke;
  font-size: 2.4rem;
  font-style: italic;
  margin-top: 1.6rem;
}

.modal__intro > div > code {
  font-family: 'Operator Mono Lig', sans-serif;
  font-size: 2rem;
  color: darkgrey;
}

.modal__location > h2 {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.modal__location > p {
  font-size: 1.6rem;
  color: #eeeeee;
}

.modal__contact > h3 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 1.6rem;
  margin-bottom: 0.6rem;
}

.modal__contact > h3 > span {
  font-size: 2rem;
  color: #eeeeee;
  font-weight: 300;
}

.modal__contact > h3 > span > a:link,
.modal__contact > h3 > span > a:visited {
  text-decoration: none;
  color: #eeeeee;
}

.modal__contact > h3 > span > a:active,
.modal__contact > h3 > span > a:hover {
  text-decoration: underline;
}

.modal__company > h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.modal__company > p {
  font-size: 1.6rem;
  color: #eeeeee;
}

.blue {
  color: #61dafb;
}

@media only screen and (max-width: 600px) {
  .modal {
    height: auto;
    grid-template-columns: 1fr;
  }
  .modal__intro > img {
    display: none;
  }
}
