*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 57.5%;
}

body {
  background-color: #282C34;
}

.container {
  margin: 2rem auto;
  max-width: 80vw;
  text-align: center;
}

.app-heading {
  color: rgb(97, 218, 251);
  font-size: 5rem;
  margin: 2rem auto;
  font-weight: 300;
}
